### Some Terminology
**RDBMS** is collection of relations (tables).  
Each relation has set of **attributes** or columns.  
Each **tuple** or row has a value for each attribute.  
Each attribute has a **type** or domain.  

![structure](https://i.imgur.com/8lFNpkT.png)  

**Schema** is the structural description of relations in database.  
**Key** is an attribute (or set of attributes) whose value (or combined value) is unique in each tuple.

### Relational Algebra
Relational Algebra is the underlying maths behind relational database querying. Below we have defined three relations:
- `College(name, state, enrollment)`
- `Student(id, name, gpa, highSchoolSize)`
- `Apply(id, collegeName, major, decision)`

A simplest query is simply the name of relation, for example `Student`. We use operators to filter, slice or combine relations. 

**Select operator:** picks certain rows. Syntax is `Sigma with condition in subscript applied to relation`. Examples:
1. Pick students with GPA > 3.7: $\sigma_{GPA\gt3.7}Students$'
2. Pick students with GPA > 3.7 and High School size < 1000: $\sigma_{GPA\gt 3.7 \wedge highSchoolSize\lt 1000}Students$

**Project operator:** picks certain columns. Syntax is `Pi with comma separated columns as subscript applied to relation`. Examples:
1. Select id and decision of all applications: $\prod_{id, decision} Apply$  

**Duplicates:** unlike SQL, in relational algebra, the duplicates are automatically removed.  

**Cross Product (Cartesian Product):** combines two relations.
1. Cross product Student and Apply relations: $Student \times Apply$. The resultant relation will have 8 attributes and the number od tuples will the equal to the product of number of tuples in Student and Apply relations respectively.
2. Names and GPAs of students with high school size > 1000 who applied to CS major and were rejected. $\prod_{name,\ gpa}(\sigma_{Student.id = Apply.id\ \wedge\ highSchoolSize\gt 1000\ \wedge\ major = 'CS'\ \wedge\ decision = 'R'}(Student \times Apply))$

**Natural Join:** extension of cross product which makes sure to
- enforce equality on all attributes with the same name
- eliminate one copy of duplicate attributes.
Examples:
1. Names and GPAs of students with high school size > 1000 who applied to CS major and were rejected. $\prod_{name,\ gpa}(\sigma_{highSchoolSize\gt 1000\ \wedge\ major = 'CS'\ \wedge\ decision = 'R'}(Student \bowtie Apply))$

### Table Relationships
**One to one relationship:** A pair of tables bears a one-to-one relationship when a single record in the first table is related to only one record in the second table, and a single record in the second table is related to only one record in the first table. Column of one table is linked to candidate table of another table.

![1 to 1](https://i.imgur.com/1wD5r7x.jpg)

**One to Many:** A one-to-many relationship exists between a pair of tables when a single record in the first table can be related to many records in the second table, but a single record in the second table can be related to only one record in the first table.

![1 to many](https://i.imgur.com/o1JCRnH.jpg)

**Many to Many:** A pair of tables bears a many-to-many relationship when a single record in the first table can be related to many records in the second table and a single record in the second table can be related to many records in the first table. You establish this relationship with a *linking table*.

![Many to Many](https://i.imgur.com/WoQk7Ke.jpg)