## BTree
Is a tree like data structure often used by database index. BTree improves upon data locality characteristics of data structure like BST and is more suited to be stored on disk (in a typical implementation, the size of each node is matched with disk block size). A BTree of order $m$ has the following properties:
- each node has at most $m$ children
- each internal node has at least $\frac{m}{2}$ children
- each non-leaf node with $k$ children has $k-1$ elements
- the root node has at least 2 children, unless it is the sole node
- all leaves are at the same level, making it *balanced*
- within each node, elements are ordered
- any child to the left of a node element must contain elements less than it. Children to the right must have elements greater than it.

A sample BTree as elements get added to it:  
![BTree Basics](./images/btree_basics.png)

### Operations
**Searching:**
The arrangement of elements in this manner makes searching quite easy:
- check node if it contains the element we are looking for
- if the element is not in the node, then find the potential child node where it could be
- find the element in that child and repeat

**Inserting:**
Elements in a BTree are inserted in lead nodes. For any new element, find the correct leaf node and add element in ascending order. If the leaf node is full:  
- the node needs to be split in two. Pick the median element and move that to the parent node. Rest of the elements are moved into two separate nodes  
  ![BTree Insert 1](./images/btree_add_1.png)
- What if the parent node is full? In that case the parent node gets split:  
  ![BTree Insert 2](./images/btree_add_2.png)

### Application
In a database, each element of a node is a key/value pair:  
![BTree Key Value Pair](./images/btree_kv.png)

Database like MySQL use a fancier version of BTree called B+Tree which:
- stores only keys (and child pointers) in non-leaf node
- stores keys and values in the leaf node
- nodes in each level are connected forming a linked list

![B+Tree](./images/bplustree.png)

MySQL stoes data using a **clustered index** and stores table rows directly in B+Trees. A new B+Tree is created for every table and all rows are stored in it. The primary key forms the key and the rest of the columns form the value. When an index is created for some other column, another B+Tree is created. In this B+Tree, the key is the newly indexed column and value is the primary key. For search queries involving new index column, first the B+Tree associated with index is searched to get list of matching primary keys and then the table B+Tree is searched.

Postgres on the other hand stores data as **heap files** and doesn't store data itself in a B+Tree. Data is stored as unordered collections of rows stored on disk pages — basically, a flat file with no inherent order. It builds a B+Tree that maps keys to location of rows in the heap.

[More details](https://planetscale.com/blog/btrees-and-database-indexes)

In [1]:
# %%
%load_ext sql

# %%
%sql postgresql://postgres:postgres@localhost:5432/demo

In [2]:
%config SqlMagic.style = '_DEPRECATED_DEFAULT'

## Database Index
Database index is the primary mechanism used to speed-up a variety of operations like filtering results, joining tables or sorting results. This index is most commonly a B+Tree and this data structure needs to be in sync with the table. Whenever rows are added, updated or removed, the corresponding index has to be touched as well. This means:
- more indexes mean slower writes
- more indexes consume more space

Further, presence of index is not guaranteed to result in improvement in query performance. Next sections expand upon the various scenarios.

### WHERE Clause
As seen in previous section, primary keys are already indexed. Therefore queries using primary key are very fast as the `EXPLAIN` query reveals (more information on how to read `EXPLAIN` [here](https://medium.easyread.co/today-i-learned-understanding-postgres-explain-query-5670dd042c99) and [here](https://supabase.com/docs/guides/troubleshooting/understanding-postgresql-explain-output-Un9dqX)):

In [3]:
%%sql

EXPLAIN SELECT * FROM users WHERE id = 999;

 * postgresql://postgres:***@localhost:5432/dvdrental
2 rows affected.

[('Index Scan using users_pkey on users  (cost=0.42..8.44 rows=1 width=76)',),
 ('  Index Cond: (id = 999)',)]

If the query is done using a column which has not been indexed:

In [4]:
%%sql

EXPLAIN SELECT * FROM users WHERE last_name = 'Herman';

 * postgresql://postgres:***@localhost:5432/dvdrental
4 rows affected.

[('Gather  (cost=1000.00..20045.07 rows=2083 width=76)',),
 ('  Workers Planned: 2',),
 ('  ->  Parallel Seq Scan on users  (cost=0.00..18836.77 rows=868 width=76)',),
 ("        Filter: (last_name = 'Herman'::text)",)]

It shows that the entire table is scanned (*Full Table Scan*) using two worker threads. The search using primary key is fast also because it is guaranteed to match only one or none (unique constraint, need not iterate over leaf nodes after first hit). Which means the B+Tree leaf nodes need not be traversed over.

![Query using PK](./images/q1.png)

**Multi Column Index:** also known as *composite*, *combined* or *concatenated* index which is useful when the `WHERE` clause contains multiple columns.

In [ ]:
%% sql

CREATE INDEX last_name_birthday_idx ON users(last_name, birthday);

In [5]:
%%sql

EXPLAIN SELECT * FROM users WHERE last_name = 'Blanda';

 * postgresql://postgres:***@localhost:5432/dvdrental
4 rows affected.

[('Bitmap Heap Scan on users  (cost=48.57..5633.76 rows=2083 width=76)',),
 ("  Recheck Cond: (last_name = 'Blanda'::text)",),
 ('  ->  Bitmap Index Scan on last_name_birthday_idx  (cost=0.00..48.05 rows=2083 width=0)',),
 ("        Index Cond: (last_name = 'Blanda'::text)",)]

The query plan suggests that the newly created BTree index is used ([index scan vs bitmap scan](https://www.postgresql.org/message-id/12553.1135634231@sss.pgh.pa.us)). However, if the query is done using birthday:

In [6]:
%%sql

EXPLAIN SELECT * FROM users WHERE birthday ='1978-05-26';

 * postgresql://postgres:***@localhost:5432/dvdrental
4 rows affected.

[('Gather  (cost=1000.00..19845.77 rows=90 width=76)',),
 ('  Workers Planned: 2',),
 ('  ->  Parallel Seq Scan on users  (cost=0.00..18836.77 rows=38 width=76)',),
 ("        Filter: (birthday = '1978-05-26'::date)",)]

This query plan suggests that full table scan will be done. The structure of the index makes it clear why it is the case:

![Query on composite index](./images/q2.png)

This means that order of columns in the index matters. Also, as can be observed from the discussion above, not all index columns need to be specified in the query to take advantage of the index. Index will also be used when additional columns are specified:

In [7]:
%%sql

EXPLAIN SELECT * FROM users WHERE birthday ='1978-05-26' 
AND last_name = 'Blanda' 
AND is_pro = FALSE;

 * postgresql://postgres:***@localhost:5432/dvdrental
3 rows affected.

[('Index Scan using last_name_birthday_idx on users  (cost=0.42..8.45 rows=1 width=76)',),
 ("  Index Cond: ((last_name = 'Blanda'::text) AND (birthday = '1978-05-26'::date))",),
 ('  Filter: (NOT is_pro)',)]

In general, a database can use multi-column index when searching with the leftmost successive columns.

**Slow Index:** in certain situations using index to search for results can be slower than doing full table scan. Specially when the query results in less selective data. Consider the example:

In [ ]:
%%sql

SELECT * FROM employees
WHERE company_id = 20   -- # Index on company_id exists
AND last_name = 'Smith';

In this case, database:
- uses company_id index to get the list of company_id that matches criteria
- then it fetches the full rows corresponding to ids obtained in step 1
- it checks the fetched rows for matching last_name

The second step in the above process can be expensive. Therefore it can be faster just to scan the full table instead. Postgres as an example considers the following while determining whether to use full table scan or use index:
- **Selectivity (How many rows match?):** if the query matches only a few rows, the index is very useful. If a large percentage of the table matches (say 30–40% or more), a sequential scan may be faster.
- **Table size:** for very small tables, Postgres often ignores indexes and does a sequential scan — it’s cheaper than managing index lookups.
- **Statistics & Cost estimates:** PostgreSQL keeps statistics (via `ANALYZE`). If the stats say "company_id=20 has lots of rows", the planner may choose sequential scan. If the stats say "company_id=20 has very few rows", it prefers an index scan.
- **Query context:** If we use `SELECT *`, Postgres needs to fetch full rows anyway. That might reduce the advantage of the index compared to fetching just indexed columns.

The selectivity criteria is further made clear by the following example:

In [8]:
%%sql

SELECT COUNT(*) FROM users WHERE is_pro = TRUE
UNION
SELECT COUNT(*) FROM users WHERE is_pro = FALSE
UNION
SELECT COUNT(*) FROM users;

 * postgresql://postgres:***@localhost:5432/dvdrental
3 rows affected.

[(44383,), (945525,), (989908,)]

In [9]:
%%sql
-- # Index on is_pro exists
EXPLAIN SELECT * FROM users WHERE is_pro = TRUE; -- # Uses index

 * postgresql://postgres:***@localhost:5432/dvdrental
2 rows affected.

[('Index Scan using is_pro_idx on users  (cost=0.42..8887.95 rows=45437 width=76)',),
 ('  Index Cond: (is_pro = true)',)]

In [10]:
%%sql
-- # Index on is_pro exists
EXPLAIN SELECT * FROM users WHERE is_pro = FALSE; -- # Table scan

 * postgresql://postgres:***@localhost:5432/dvdrental
2 rows affected.

[('Seq Scan on users  (cost=0.00..23580.08 rows=944471 width=76)',),
 ('  Filter: (NOT is_pro)',)]

**Function-Based Index:** often when string comparison is done, it uses function to first transform the text: `UPPER(last_name) = UPPER('Smith')`. When this query is run, it cannot use existing index on last_name. To support the query using functions, we can define index like:

In [11]:
%%sql

CREATE INDEX upper_last_name_idx ON users(UPPER(last_name));
EXPLAIN SELECT * FROM users WHERE UPPER(last_name) = UPPER('Smith');

 * postgresql://postgres:***@localhost:5432/dvdrental
Done.
4 rows affected.

[('Bitmap Heap Scan on users  (cost=58.79..9939.68 rows=4950 width=76)',),
 ("  Recheck Cond: (upper(last_name) = 'SMITH'::text)",),
 ('  ->  Bitmap Index Scan on upper_last_name_idx  (cost=0.00..57.55 rows=4950 width=0)',),
 ("        Index Cond: (upper(last_name) = 'SMITH'::text)",)]

It is important that the function used provides predictive output. Which means same input always produces the same output all the time.

If the database does not support function based index, it can be replicated using generated columns, as in case of SQL Server. 

**Ranged Queries:** queries using operators `>`, `<` and `BETWEEN` can also use index. It is advised that columns using range should be defined last in the order of columns used in index. The B+Tree structure shows why:

![Index with Range 1st](./images/q3.png)
![Index with Range last](./images/q4.png)

**LIKE Queries:** queries containing `LIKE` statement can use index if the filter contains characters before wildcard. This means `Abs%` can use index, but `%ter` cannot.

**Partial Index:** a partial index is useful for commonly used where conditions that use constant values such as in example below:

In [ ]:
%%sql

SELECT * FROM users
WHERE is_pro = FALSE
AND last_name = "Smith";

We can define the index as:

In [ ]:
%%sql

CREATE INDEX last_name_is_pro_idx ON users(last_name, is_pro);

What if in most of the queries, is_pro is always false? We can update the index to only include rows where is_pro is false:

In [ ]:
%%sql

CREATE INDEX last_name_is_pro_idx ON users(last_name) WHERE is_pro = FALSE;

The index only contains the rows that satisfy the `WHERE` clause. The index size is reduced and the database can use a partial index whenever the `WHERE` clause appears in a query.

**NULL and Index:** database like PostgreSQL treats `NULL` as a sortable value and stores it in the B-tree index. `NULL` sorts after all non-null values by default. Other database like Oracle doesn't include `NULL` which means every index is a partial index defined as:

In [ ]:
%%sql

CREATE INDEX birthday_notnull_idx ON users (birthday)
WHERE birthday IS NOT NULL;

### JOIN Clause
Databases can use different ways to perform `JOIN` operation which can be sped up using indexes:  
**Nested Loop Join:** this is implemented by iterating over rows of outer and inner relations:  
```
for each record of outer relation:
    for each record of inner relation:
        if join condition matches:
            yield resultant record
```
A nested loops join is particularly effective if the outer relation is small and the inner relation is preindexed and large. Thus, the choice of inner and outer table depends upon:
- relation having lesser rows is more likely to be the outer relation
- relation having index on join column is more likely to be the inner relation

**Hash Join:** happens in two phases:
- build phase: involves scanning the smaller relation and creating in-memory hash table based on the join key
- probe phase: involves scanning the larger relation and hashing its join key, then doing a lookup in previously created hash table
This works well when the tables are big and hash table can fit into the memory.

Hash join can be improved if we have index on non-join columns (columns in `WHERE` clause). Database can use those indices to filter the data before the hashing starts.

**Merge Join:** this is implemented by sorting both relations by the join column and then doing *merge* operation (similar to merge sort). Merge join itself is very fast, but it can be an expensive choice if sorting is required. However, if the data volume is large and the desired data can be obtained presorted from existing B-tree indices, merge join is often the fastest available join algorithm.

### ORDER BY Clause
If the `ORDER BY` clause is used on a indexed column, the database doesn't need to explicitly sort the result.

In [5]:
%%sql

-- # Without index
EXPLAIN SELECT * FROM boarding_passes ORDER BY boarding_no;

 * postgresql://postgres:***@localhost:5432/demo
3 rows affected.

[('Sort  (cost=79445.55..80894.76 rows=579686 width=25)',),
 ('  Sort Key: boarding_no',),
 ('  ->  Seq Scan on boarding_passes  (cost=0.00..10084.86 rows=579686 width=25)',)]

In [6]:
%%sql

-- # With index
CREATE INDEX bp_boarding_no_idx ON boarding_passes (boarding_no);
EXPLAIN SELECT * FROM boarding_passes ORDER BY boarding_no;

 * postgresql://postgres:***@localhost:5432/demo
Done.
1 rows affected.

[('Index Scan using bp_boarding_no_idx on boarding_passes  (cost=0.42..27721.73 rows=579686 width=25)',)]

The same index can also be used in reverse order. When the `ORDER BY` clause includes non-indexed columns, it now has to do incremental sort. Many databses other than Postgres, like Oracle and MS SQL also provide a similar facility (though MySQL doesn't).

In [7]:
%%sql

EXPLAIN SELECT * FROM boarding_passes ORDER BY boarding_no, seat_no;

 * postgresql://postgres:***@localhost:5432/demo
4 rows affected.

[('Incremental Sort  (cost=170.26..66017.73 rows=579686 width=25)',),
 ('  Sort Key: boarding_no, seat_no',),
 ('  Presorted Key: boarding_no',),
 ('  ->  Index Scan using bp_boarding_no_idx on boarding_passes  (cost=0.42..27721.73 rows=579686 width=25)',)]

Even when both sort columns are indexed by a multi-column index, it is not necessary that no explicit sorting would be required. This happens when sort order doesn't match as defined in the index.

In [8]:
%%sql

EXPLAIN SELECT * FROM boarding_passes ORDER BY flight_id, boarding_no DESC;

 * postgresql://postgres:***@localhost:5432/demo
4 rows affected.

[('Incremental Sort  (cost=5.98..57060.20 rows=579686 width=25)',),
 ('  Sort Key: flight_id, boarding_no DESC',),
 ('  Presorted Key: flight_id',),
 ('  ->  Index Scan using boarding_passes_flight_id_seat_no_key on boarding_passes  (cost=0.42..32187.87 rows=579686 width=25)',)]

In [9]:
%%sql

CREATE INDEX bp_sort_idx ON boarding_passes(flight_id, boarding_no DESC);
EXPLAIN SELECT * FROM boarding_passes ORDER BY flight_id, boarding_no DESC;

 * postgresql://postgres:***@localhost:5432/demo
Done.
1 rows affected.

[('Index Scan using bp_sort_idx on boarding_passes  (cost=0.42..32187.87 rows=579686 width=25)',)]

Since Postgres puts nulls at the end, sorting by nulls first means the database has to explicitly sort the result:

In [10]:
%%sql

EXPLAIN SELECT * FROM boarding_passes ORDER BY flight_id NULLS FIRST; -- # No explicit sorting if we sort descending order

 * postgresql://postgres:***@localhost:5432/demo
3 rows affected.

[('Sort  (cost=79445.55..80894.76 rows=579686 width=25)',),
 ('  Sort Key: flight_id NULLS FIRST',),
 ('  ->  Seq Scan on boarding_passes  (cost=0.00..10084.86 rows=579686 width=25)',)]