### Concurrent Access
In order to get maximum performance it is necessary to allow concurrent access to the database. A number of clients should be able to connect and execute queries at the same time. However this can lead to inconsistent behaviour. If we take an `UPDATE` query, it is not one atomic operation, rather it occurs in the following steps:
1. Get data
2. Modify data
3. Save data back to the database.

Therefore in case of `UPDATE` command being issued by multiple clients, there is possibility of interleaving of these steps leaving to inconsistency.

**Attribute Level Inconsistency** suppose that client C1 issues the following SQL statement:
```SQL
UPDATE Products SET quantity = quantity + 100 WHERE name = 'Face Mask';
```
concurrently with C2 executing
```SQL
UPDATE Products SET quantity = quantity + 500 WHERE name = 'Face Mask';
```

Now after both the queries have been executed, the quantity can increase by 600 (desired), 100 or 500.

**Tuple Level Inconsistency** in this case a single tuple is involved, consider C1 executing
```SQL
UPDATE Customers SET age = 42  WHERE id = 15;
```
concurrently with C2 executing
```SQL
UPDATE Customers SET frequent = 1  WHERE id = 15;
```

At the end either both age and frequent attributes will be updated or only one of the two attributes will be executed.

**Table Level Inconsistency** this involves multiple tables. C1 executes
```SQL
DELETE FROM OrderProducts WHERE ProductId IN (SELECT Id FROM Products WHERE quantity = 0);
```
concurrently with C2 executing
```SQL
UPDATE Products SET quantity = 10 WHERE quantity = 0;
```

In the above case order of execution of the SQLs from C1 and C2 matters.

**Multiple Statements Inconsistency** C1 issues the following statements:
```SQL
INSERT INTO ArchivedOrders SELECT * FROM Orders WHERE status = 'DONE';
DELETE FROM Orders WHERE status = 'DONE';
```
concurrently with C2 executing
```SQL
SELECT COUNT(*) FROM ArchivedOrders;
SELECT COUNT(*) FROM Orders;
```

The count statements can result in different values based on how the statements where interleaved.

### Reselience
Fatal failure during data modification can lead to only partial information (say only 500 out of 1000 records) being modified (or inserted). We want the system to guarantee *ALL OR NOTHING* execution regardless of failure. This is implemented using transactions.

### Transactions
Sequence of SQL commands treated as a single unit. Transactions appear to run in isolation.

**COMMIT** in SQL transactions begin with any SQL command and ends with `COMMIT` command.  
**AUTOCOMMIT** turns each SQL statement into a transaction.

But still we want to have high performance associated with cocurrency.

### ACID Properties
ACID = Atomicity + Consistency + Isolation + Durability

**Atomicity:** All or nothing execution, no transaction is left half complete.

**Consistency:** ensures that a transaction can only bring the database from one valid state to another, maintaining database invariants: any data written to the database must be valid according to all defined rules, including constraints, cascades, triggers, and any combination thereof. This prevents database corruption by an illegal transaction, but does not guarantee that a transaction is correct.

**Isolation:** the system has to guarantee that even if the statements of transactions are interleaved, the end result should be the same as sequential execution of transactions. With Isolation guaranteed, we won't face the problems associated with concurrent access.

Complete isolation is detrimental to database performance, therefore we have weaker isolation levels which improve concurrency while reducing level of consistency.  

![Isolation levels](https://i.imgur.com/kAIV6an.png)

**Durability:** if system crashes after transaction is commited, its effect must persist in the system. Looks straightforward and quite obvious until you realise that database makes use of memory buffer before writing all to the disk.

### Isolation Levels
Isolation levels are associated with a particular transaction. Different transactions can have different isolation levels. In all examples that follow we would represent a transaction with $T_1, T_2, ... $ and statements within transactions as $S_2^1$ (second statement of first transaction).  

**Read Uncommitted:** allows dirty read. To understand dirty read, let us consider the transaction $T_1$ below:  
```SQL
UPDATE employee SET salary = salary * 1.15 WHERE id = 5; -- salary for employee with id 5 is dirty now, because it has
                                                         -- not been committed yet
COMMIT;
```  
Now if there is another transaction $T_2$ which allows read uncommitted:  
```SQL
SET TRANSACTION ISOLATION LEVEL READ UNCOMMITTED;
SELECT AVG(salary) FROM employee;
```  

Read allows the order of execution of statements to be $S_1^1 S_1^2 S_2^2 S_2^1$ . However in case the commit statement of first transaction is not executed (system crash), the effect of $T_1$ will be rolled back and we'll be left with wrong value of average salary.

**Read Committed:** this doesn't allow dirty read. For example consider the example: $T_1$ is:
```SQL
UPDATE employee SET salary = salary * 1.15 WHERE id = 5; 
COMMIT;
```
And $T_2$ is
```SQL
SET TRANSACTION ISOLATION LEVEL READ COMMITTED;
SELECT AVG(salary) FROM employee;
SELECT MAX(salary) FROM employee;
```

The two select queries in $T_2$ can individually execute before or after $T_1$. So one of the possible sequence of execution can be $S_1^2 S_2^2 S_1^1 S_2^1 S_3^2$ In this case the average and max values will not be in agreement.

**Repeatable Read:** No dirty read allowed and the item read must not change its value during multiple read. In the previous example, if we set isolation level as repeatable read, both the select statements must occur either before or after $T_1$. However if we read different item either of the select queries can be read before or after $T_1$ individually like in the case of read committed.
```SQL
UPDATE employee SET salary = salary * 1.15 WHERE id = 5;
UPDATE employee SET age = age + 1;
COMMIT;
```
```SQL
SET TRANSACTION ISOLATION LEVEL REPETABLE READ;
SELECT AVG(salary) FROM employee;
SELECT MAX(age) FROM employee;
```

However there is a case of *Phantom* tuples where the item is not changed, but new items are added. For example: $T_1$ is:
```SQL
INSERT INTO employee ... -- 500 records inserted
```
is executing concurrently with $T_2$
```SQL
SET TRANSACTION ISOLATION LEVEL REPETABLE READ;
SELECT AVG(salary) FROM employee;
SELECT MAX(salary) FROM employee;
```

Here if the first select query was run before $T_1$, the second select query can run after $T_2$ because the underlying data involved in first select query didn't change.

The default transaction level for MySQL is repeatable read.